/* 14213d --Blue Color*/
/* e5e5e5 --Base Color*/
/* fcf6bd --Yellow Color*/
.data{
    display: none;
}
.g-signin2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-50px;
    margin-left:-50px;
}